* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    font-size: 100%;
}

.flex {
    display: flex;
}

.width-50 {
    width: 50%;
}

.width-20 {
    width: 20%;
}

.width-10 {
    width: 10%;
}

.colore-testo-lime{
    color: lime;
}

h5 {
    font-size: 0.5em;
    font-weight: normal;
}

.relative {
    position: relative;
}

.sezione-intestazione-pagina {
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    text-align: right;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.contenitore-vista-elementi {
    display: inline-block;
    margin-top: 0.9em;
}

.vista-elementi {
    background-color: grey;
    margin: 0 0.5em;
    padding: 0.5em;
    border-radius: 10px;
}
.contenitore-main {
    width: 100%;
    height: calc(100vh - 170px);
    background-color: black;
}
.contenitore-colonne {
    width: 100%;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
}
.contenitore-pulsanti-cta {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    justify-content: space-between;
    color: white;
}

.sezione-dispositivi-input .lista-dispositivi-input {
    list-style: none;
    height: 100%;
    justify-content: space-around;
}

.sezione-dispositivi-input .lista-dispositivi-input li {
    font-size: 2.5em;
}

.sezione-dispositivi-input .lista-dispositivi-input li button {
    background-color:black;
    border: 0;
    cursor: pointer;
    color: white;
}

.pulsante-di-input {
    font-size: 1em;
}

.sezione-dispositivi-input .lista-dispositivi-input .elementi button span {
    margin-left: 1em;
}

.sezione-pulsante-fine-chiamata {
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: red;
}

.contenitore-colonne > div {
    margin: 0.5em 0.2em;
}

.contenitore-colonne .contenitore-immagine-testo > div {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    margin: 0.5em 0.5em 0 0;
    padding: 0.5em 0.5em 0.5em 0;
    background-color: rgba(0, 0, 0, 0.25);
}